<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
<h1>JWT Checksum Creation and Validation </h1>
<br>
<br>
<br>

<ul>
  <li>
    <h3 id="redtext">{{messagered}}</h3>
  </li>
  <li>
    <h3 id="greentext"><a href="">{{messagegreen}}</a></h3>
  </li>
  
</ul>

